body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(187, 218, 52, 0), rgb(231, 98, 98));
}

.container {
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

header {
    background-color: #da5231;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
   

}

main {
    margin-top: 20px;
}

h2 {
    color: #3498db;
}

section {
    margin-bottom: 20px;
}

.footer {
    background-image: linear-gradient(to left, rgba(255,0,0,0), rgb(11, 12, 95));
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Add more styling as needed */
